<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.OrderMapper">
    <!-- 插入订单数据：Integer insertOrder(Order order) -->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO t_order (
            uid, recv_name, recv_phone, recv_province, recv_city, recv_area, recv_address,
            total_price,status, order_time, pay_time, created_user, created_time, modified_user,
            modified_time
        ) VALUES (
            #{uid}, #{recvName}, #{recvPhone}, #{recvProvince}, #{recvCity}, #{recvArea},
            #{recvAddress}, #{totalPrice}, #{status}, #{orderTime}, #{payTime}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>

    <!-- 插入订单商品数据：Integer insertOrderItem(OrderItem orderItem) -->
    <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order_item (
            oid, pid, title, image, price, num, created_user,
            created_time, modified_user, modified_time
        ) VALUES (
            #{oid}, #{pid}, #{title}, #{image}, #{price}, #{num}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>
<!--    <resultMap id="SelectEntityMap" type="com.cy.store.entity.Order">-->
<!--        <id column="oid" property="oid"/>-->
<!--        <result column="recv_name" property="recvName"/>-->
<!--        <result column="recv_phone" property="recvPhone"/>-->
<!--        <result column="recv_province" property="recvProvince"/>-->
<!--        <result column="recv_city" property="recvCity"/>-->
<!--        <result column="recv_area" property="recvArea"/>-->
<!--        <result column="recv_address" property="recvAddress"/>-->
<!--        <result column="total_price" property="totalPrice"/>-->
<!--        <result column="status" property="status"/>-->
<!--        <result column="order_time" property="orderTime"/>-->
<!--        <result column="pay_time" property="payTime"/>-->
<!--        <result column="is_delete" property="isDelete"/>-->
<!--        <result column="created_user" property="createdUser"/>-->
<!--        <result column="created_time" property="createdTime"/>-->
<!--        <result column="modified_user" property="modifiedUser"/>-->
<!--        <result column="modified_time" property="modifiedTime"/>-->
<!--    </resultMap>-->
<!--    &lt;!&ndash;根据uid查询订单List<OrderVO> selectOrderByUid(@Param("uid") Integer uid);-->
    <select id="selectOrderByUid" resultType="com.cy.store.vo.OrderVO">
        SELECT
            t_order.oid,
            t_order.uid,
            t_order.total_price,
            t_order.recv_name,
            t_order.created_time,
            t_order_item.num,
            t_order_item.title,
            t_order_item.price AS realPrice,
            t_order_item.image
        FROM
            t_order_item
                LEFT JOIN  t_order ON t_order.oid	= t_order_item.oid
        WHERE
            uid = #{uid}
        ORDER BY
            t_order.created_time DESC
    </select>
    <!--删除订单数据Integer deleteByOid(@Param("oid") Integer oid);-->
    <delete id="deleteByOid">
        Delete FROM t_order WHERE oid=#{oid}
    </delete>
    <resultMap id="OrderEntityMap" type="com.cy.store.entity.Order">
        <id column="cid" property="cid"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>
    <!-- 根据订单数据id查询购物车数据详情：Cart findByOid(Integer oid) -->
    <select id="findByOid" resultMap="OrderEntityMap">
        SELECT
            *
        FROM
            t_order
        WHERE
            oid = #{oid}
    </select>
</mapper>